@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #000;
    color: antiquewhite;
    text-align: center;
}

/* dissolving text in intro */
/* animation: 2s alternate infinite dissolve; */
/* .dissolve-text {
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-name: dissolve;
}

@keyframes dissolve {
    from {
        filter: blur(0px);
    }

    to {
        filter: blur(60px);
    }
} */

.dissolve-text {
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-name: dissolve;
}

@keyframes dissolve {
    from {
        filter: blur(0px);
    }

    to {
        filter: blur(40px);
    }
}

.reappear-text {
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    /* animation-direction: alternate; */
    animation-fill-mode: backwards;
    animation-name: reappear;
}

@keyframes reappear {
    from {
        filter: blur(40px);
    }

    to {
        filter: blur(0px);
    }
}

/* animation for blinking cursor */
.test1234::after {
    content: "";
    position: absolute;
    right: -11px;
    width: 4px;
    height: 40px;
    background-color: maroon;
    display: inline-block;
    animation: alternate infinite 2s blink-cursor;
}

@keyframes blink-cursor {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

/* text in div background */
.container {
    position: relative;
}

.containerbackground {
    margin: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    transform: rotate(300deg);
    /* -webkit-transform: rotate(300deg); */
    color: #c6afaf;
}